html {
    font-family: 'Arial', sans-serif;
}

.route-link>.link {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem
            /* 24px */
            * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem
            /* 24px */
            * calc(1 - var(--tw-space-x-reverse)));
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem
        /* 20px */
    ;
    margin-bottom: 1.25rem
        /* 20px */
    ;
}



.wrapper {
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    width: 855px;
    padding-left: 4rem
        /* 64px */
    ;
    padding-right: 4rem
        /* 64px */
    ;
    padding-top: 3.5rem
        /* 56px */
    ;
    padding-bottom: 5rem;
    /* 112px */
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.calculator {
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(151, 150, 150, 0.17) 0px 80px 20px,
        rgba(146, 145, 145, 0.17) 30px 0px 13px,
        rgba(146, 145, 145, 0.17) -30px 0px 20px,
        rgba(150, 149, 149, 0.12) 60px 0px 20px,
        rgba(150, 149, 149, 0.12) -60px 30px 20px,
        /* Added bottom left shadow */
        rgba(0, 0, 0, 0.17) 30px 30px 20px;
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
    padding: 1px;
    overflow: hidden;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
    height: 980px;
    border-radius: 1.5rem;
    border: 0.5px solid #000
}

.calculator-layout {
    --tw-border-opacity: 1;
    display: grid;
    height: 100%;
    border-width: 2px;
    border-radius: 1.5rem;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    border-style: solid;
}

.screen-calculator {
    position: relative;
    grid-row: span 3 / span 3;
}

.screen-calculator-light {
    position: absolute;
    display: flex;
    top: 1.25rem;
    left: 1rem;
}

.screen-calculator-light>div {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem
            /* 24px */
            * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem
            /* 24px */
            * calc(1 - var(--tw-space-x-reverse)));
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 9999px;
}

.screen-calculator-light>div:nth-child(1) {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));

}

.screen-calculator-light>div:nth-child(2) {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity));

}

.screen-calculator-light>div:nth-child(3) {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.screen-calculator-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

.screen-calculator-cal {
    position: absolute;
    top: -1.25rem
        /* -20px */
    ;
    right: 0px;
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
    font-size: 1.875rem
        /* 30px */
    ;
    line-height: 2.25rem
        /* 36px */
    ;
}

.screen-calculator-primary {
    width: 500px;
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
}

.screen-calculator-primary>div {
    font-size: 8rem
        /* 128px */
    ;
    line-height: 1;
    font-size: 8rem
        /* 128px */
    ;
    line-height: 1;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-row: span 5 / span 5;
    gap: 3px;
}

.button-calculator {
    --tw-bg-opacity: 1;
    background-color: rgb(254 240 138 / var(--tw-bg-opacity));
    font-size: 3rem;
    line-height: 1;
}

.button-calculator:hover {
    opacity: 0.75;
    cursor: pointer;
}

.zero {
    grid-column: span 2;
    border-bottom-left-radius: 1.3rem
}

.equals {
    border-bottom-right-radius: 1.3rem
}

.natural-number,
.zero,
.decimal-point {
    --tw-bg-opacity: 1;
    background-color: rgb(113 113 122 / var(--tw-bg-opacity));
}

.operator {
    --tw-bg-opacity: 1;
    background-color: rgb(251 146 60 / var(--tw-bg-opacity));
}

.all-clear,
.change-sign,
.percent-sign {
    --tw-bg-opacity: 1;
    background-color: rgb(82 82 91 / var(--tw-bg-opacity));
}

.history-wrapper>div {

    font-size: 30px
}

.history-item {
    margin-bottom: 10px;
}